
#title{
    font-weight: 300;
    font-size: 1.5rem;
    font-family: sans-serif, "Roboto"
}

#filter {
    text-align: center;
}

.search{
    text-align: center;
}

.link{
    margin: 0px !important;
    font-size: 1rem !important;
}
.card-content{
  text-align: center;
  align-content: center;
}

.product-logo{

    padding-bottom: 5%;
}

.card-content{
    padding: 10px; !important;
}
.icon {
    padding-top: 5%;
    font-size: 1rem;
}

.heart {
    font-size: 1.5rem;
    padding: 5%;
}

.card-title{
    margin-top: 0;
}

i:hover{
    color: lightskyblue !important;
}

i.heart:hover{
    color: lightcoral!important;
}
p {
    margin-bottom: 20px !important;
}

#icon-prefix {
    padding-left: 30%;
}

.link:hover {
    
    color: lightskyblue !important;
}
    

