#title{
    font-weight: 300;
    font-size: 24px;
}

#search{
    text-align: center;
    
}

#filter {
    text-align: center;
}

.card-content{
  text-align: center;
  align-content: center;
}

.icon {
   font-size: 2rem;
   padding: inherit;
    margin-right: 0;
}
.product-logo{
    padding:10%;
}

p {
    margin-bottom: 20px !important;
}

